# Pycharm
.idea/
**__pycache__/

# Sphinx
docs/_build

# Virtual env
*env

.ipynb_checkpoints/*

*.py[cod]
.cookiecutter
#*.ipynb
notebooks/.ipynb_checkpoints/*
.vscode/*
data/main/*

**.pyc*
requirements-dev.txt

# Packages
*.egg
*.egg-info
.eggs
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64

abc.py
.safe*
#data/cache/*/admin_*.json
git_push.sh
tests/test_init_env.py
