# Pycharm
.idea/
**__pycache__/

# Sphinx
docs/_build

# Virtual env
*env
.ipynb_checkpoints/*
*.py[cod]
.cookiecutter
.vscode/*
data/main/*
data/cache/*

**.pyc*
requirements-dev.txt
bulkhours/bots/cars/data/*

# Packages
*.egg
*.egg-info
.eggs
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64

.safe*
#data/cache/*/admin_*.json
git_push.sh
tests/test_init_env.py
carbon-footprint-travel-mode.csv
2023-incidences-economiques-transition-climat-rapport-de-synthese_0.pdf
AirPassengers.csv
APPLE_DownloadFPrepStatementQuarter.tsv
DataForFigure2.1WHR2023.xls
fe_equipment_failure_data_2.csv
equipment_failure_data_1.csv
equipment_failure_data_2.csv
fe_equipment_failure_data_1.csv
fundamentals.csv
life-expectancy-vs-gdp-per-capita.csv
owid-co2-data.csv
owid-covid-data.csv
pip_dataset.csv
prices-split-adjusted.csv
Rapport-OFCE-HCC-2020.pdf
securities.csv
Supercomputer%20power%20(FLOPS)%20%E2%80%93%20TOP500%20Database.csv
test_catvnoncat.h5
train_catvnoncat.h5
vaccinations.csv

data/exercices/*_sol.txt
